.exitModal {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

.exitModal img {
  width: 2vw;
}

.modal {
  width: 55vw;
  height: 60vh;
  position: absolute;
  background-color: #55828b;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2vw 4vw;
  border-radius: 20px;
  -webkit-box-shadow: -0.3vw 0.2vw 0px 0.1vw #364958;
          box-shadow: -0.3vw 0.2vw 0px 0.1vw #364958;
  z-index: 20;
  -webkit-animation: onLoad 0.5s ease;
          animation: onLoad 0.5s ease;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes onLoad {
  0% {
    height: 0vw;
    width: 0vw;
  }
  100% {
    height: 60vh;
    width: 55vw;
  }
}

@keyframes onLoad {
  0% {
    height: 0vw;
    width: 0vw;
  }
  100% {
    height: 60vh;
    width: 55vw;
  }
}

.paragrapheScroll {
  scroll-behavior: smooth;
  overflow-y: scroll;
  max-height: 40vh;
}

.titleModalCenter {
  text-align: center;
}

.paragrapheScroll::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #2f4c54;
  /* or add it to the track */
  color: #2f4c54;
  border-radius: 10px;
}

.paragrapheScroll::-webkit-scrollbar-thumb {
  background: #162830;
  height: 1px;
  border-radius: 10px;
}

.modalFactoryContainer .modalFactoryHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.modalFactoryContainer h3,
.modalFactoryContainer h4 {
  font-weight: 500;
  font-size: 1.5vw;
  margin: 3vh 0;
}

.modalButtonDark {
  background-color: #87bba2;
  -webkit-box-shadow: -0.3vw 0.2vw 0px 0.1vw #364958;
          box-shadow: -0.3vw 0.2vw 0px 0.1vw #364958;
}

.modalButtonLight {
  background-color: #c9e4ca;
  -webkit-box-shadow: -0.3vw 0.2vw 0px 0.1vw #87bba2;
          box-shadow: -0.3vw 0.2vw 0px 0.1vw #87bba2;
}

.pictogramContainerModalBuy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.pictogramContainerModalBuy .activePower {
  border: 3px solid white !important;
  border-radius: 15px;
}

.pictogramContainerModalBuy .pictogramModalBuy {
  padding: 2vh;
  border: 3px solid #55828b;
  cursor: pointer;
  z-index: 800;
}

.pictogramContainerModalBuy .pictogramModalBuy * {
  pointer-events: none;
  z-index: 100;
}

.pictogramContainerModalBuy .pictogramModalBuy img {
  width: 5vw;
}

.pictogramContainerModalBuy .pictogramModalBuy .descBuyPictogram div {
  text-align: center;
  font-size: 1.1vw;
}

.btnCenterContainer {
  text-align: center;
}

.continentChooseModalBuy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2vh;
  width: 100%;
}

.continentChooseModalBuy h3 {
  margin-right: 25%;
}

.continentChooseModalBuy .modalButtonLight {
  text-transform: capitalize;
}

.endGameModal {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 500;
}

.endGameModal .modalContentEndGame {
  height: 60%;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2vw 4vw;
  border-radius: 20px;
  -webkit-box-shadow: -0.3vw 0.2vw 0px 0.1vw #364958;
          box-shadow: -0.3vw 0.2vw 0px 0.1vw #364958;
  background-color: #55828b;
}

.endGameModal .contentEndGame {
  height: 80%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.endGameModal h1 {
  font-family: goodTime !important;
  margin: 1.5em 0;
}

.endGameModal h2 {
  font-weight: 600;
}

.chooseAContinent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2vh;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.chooseAContinent h4 {
  width: 40%;
}

.chooseAContinent .continentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: safe center;
      -ms-flex-pack: safe center;
          justify-content: safe center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  background-color: #c9e4ca;
  -webkit-box-shadow: -0.3vw 0.2vw 0px 0.2vw #87bba2;
          box-shadow: -0.3vw 0.2vw 0px 0.2vw #87bba2;
  border-radius: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chooseAContinent .continentContainer .continentToSelect {
  display: none;
}

.chooseAContinent .continentContainer button {
  background-color: #c9e4ca;
}

.modalFactoryContainer {
  height: auto !important;
}

.selectedRole {
  background-color: #87bba2;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0.1em 0.4em;
}

.disableConfirmBtn {
  pointer-events: none;
  background-color: #364958;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=modal.css.map */