@import "../../colors.scss";
@font-face {
  font-family: goodTime;
  src: url("../../assets/font/fontGood.otf") format("opentype");
}
* {
  font-family: "Poppins", sans-serif;
  animation: 1s all ease;
}

p,
h1,
h2,
h3 {
  color: $fontColor;
}

button {
  padding: 0.1em 0.3em;
  border-radius: 3px;
  border: none;
  font-weight: 600;
  font-size: 1.2vw;
  cursor: pointer;
}

.btnDarkBlue {
  background-color: $lightBlue;
  box-shadow: -0.3vw 0.2vw 0px 0.1vw $darkBLue;
  font-weight: 500;
  font-size: 3vh;
}

.logoutContainer {
  position: absolute;
  display: flex;
  top: 3%;
  right: 3%;
  button {
    margin-left: 3vh;
  }
}

.buyBtn {
  position: absolute;
  top: 3%;
  left: 3%;
}
.assocBtn {
  position: absolute;
  top: 90%;
  right: 3%;
}
.ruleBtn {
  position: absolute;
  top: 90%;
  left: 3%;
}

.mainTitle {
  text-align: center;
  * {
    margin: 0;
  }
  h1 {
    font-family: goodTime !important;
    padding-top: 0.3em;
    font-size: 7vh;
  }
}
.titleBottom {
  position: absolute;
  text-align: center;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  p {
    margin: auto;
    font-size: 3.4vh;
    font-weight: 500;
  }
}
.timer {
  display: flex;
  justify-content: center;
  font-weight: 500;
  .titleTimer {
    margin-right: 0.5em;
  }
  p {
    margin: 0 0.2em;
  }
}

.activeBtn {
  animation: activeBtn 1s ease;
  background-color: $darkBLue;
  box-shadow: none;
}

@keyframes activeBtn {
  0% {
    background-color: $lightBlue;
    box-shadow: -0.3vw 0.2vw 0px 0.1vw $darkBLue;
  }
  100% {
    background-color: $darkBLue;
    box-shadow: none;
  }
}

.simulateEndGame {
  top: 50%;
  position: absolute;
}
