.worldMap {
  background-image: url("../../assets/continents/map.png");
  height: calc(70vw / 2.02);
  width: 70vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-size: cover;
  z-index: 10;
}
